<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Poll</title>
</head>
<body>
    {% include "menu.html" %}

    <h1>{{ poll["title"] }}</h1>
    <h3>{{ poll["description"] }}</h3>
    <form action="{{ url_for('vote') }}" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="ID{{ poll['id'] }}">
        {% for poll_question in poll["questions"] %}
        <ul>
            <li>
                <label>
                    <input type="checkbox" name="question_{{ poll_question[0] }}">
                    {{ poll_question[1] }}
                </label>
            </li>
        </ul>
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
</body>
</html>